<app-card-layout>
  <card-title>
    <h2>Activiteit</h2>
  </card-title>
  <card-content>
    <div class="activity-content-container">
      <div class="activity-content-container__place">
        <span>Generaal de Ceuninckstraat 7, 2800 Mechelen</span>
        <span>Khutbah Jumat, 3 maart 2025</span>
      </div>

      <div class="activity-content-container__person">
        <div class="activity-content-container__person-image">
          <img src="assets/images/profile-pic.webp" alt="Person" />
        </div>
        <div class="activity-content-container__person-info">
          <span>Dr. Ali Isarti</span>
          <span>Het belang van het gebed</span>
        </div>
      </div>
    </div>
  </card-content>
</app-card-layout>
