$spacing-1: 6px;
$spacing-2: 12px;
$spacing-3: 18px;
$spacing-4: 24px;
$spacing-5: 30px;
$spacing-6: 36px;
$spacing-7: 42px;
$spacing-8: 48px;
$spacing-9: 54px;
$spacing-10: 60px;
$spacing-11: 66px;
$spacing-12: 72px;
$spacing-13: 78px;
$spacing-14: 84px;
$spacing-15: 90px;
$spacing-16: 96px;
$spacing-17: 102px;
$spacing-18: 108px;
$spacing-19: 114px;
$spacing-20: 120px;
