<app-card-layout>
  <card-title>
    <h2>Gebedstijden</h2>
  </card-title>
  <card-content>
    <div class="prayer-section">
      <div class="prayer-section-row">
        <div class="prayer-section-row__item">
          <span></span>
        </div>
        @for (prayer of prayerNames; track prayer) {
        <div
          class="prayer-section-row__item"
          [class.next-prayer]="prayer === nextPrayer()"
          [class.past-prayer]="isPastPrayer(prayer)"
          [class.future-prayer]="!isPastPrayer(prayer)"
        >
          <span class="prayer-section-row__item-title">{{ prayer }}</span>
        </div>
        }
      </div>

      <!-- Today's Prayer Times -->
      <div class="prayer-section-row prayer-section-row--active">
        <div class="prayer-section-row__item">
          <span class="prayer-section-row__item-time">{{
            currentDayPrayer()?.date
          }}</span>
        </div>
        @for (prayer of prayerNames; track prayer) {
        <div
          class="prayer-section-row__item"
          [class.next-prayer]="prayer === nextPrayer()"
          [class.past-prayer]="isPastPrayer(prayer)"
          [class.future-prayer]="!isPastPrayer(prayer)"
        >
          <span>{{ currentDayPrayer()?.timings?.[prayer] || '--' }}</span>
        </div>
        }
      </div>

      <!-- Tomorrow's Prayer Times -->
      <div class="prayer-section-row prayer-section-row--in-active">
        <div class="prayer-section-row__item">
          <span>{{ nextDayPrayer()?.date }}</span>
        </div>
        @for (prayer of prayerNames; track prayer) {
        <div class="prayer-section-row__item">
          <span>{{ nextDayPrayer()?.timings?.[prayer] || '--' }}</span>
        </div>
        }
      </div>
    </div>
  </card-content>
</app-card-layout>
