<app-card-layout>
  <card-title>
    <h2>Onze Diensten</h2>
  </card-title>
  <card-content>
    <div class="services-content-container">
      <div class="services-content-container__item">
        <span>Rondleiding</span>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat</span
        >

        <button class="header-button">
          <app-fa-icon-download
            width="16px"
            height="16px"
            color="#f8f9f5"
          ></app-fa-icon-download>
          <a>Informatie</a>
        </button>
      </div>

      <div class="services-content-container__item">
        <span>Uitvaart</span>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat</span
        >

        <button class="header-button">
          <app-fa-icon-download
            width="16px"
            height="16px"
            color="#f8f9f5"
          ></app-fa-icon-download>
          <a>Informatie</a>
        </button>
      </div>

      <div class="services-content-container__item">
        <span>Ramadan</span>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat</span
        >

        <button class="header-button">
          <app-fa-icon-download
            width="16px"
            height="16px"
            color="#f8f9f5"
          ></app-fa-icon-download>
          <a>Informatie</a>
        </button>
      </div>
    </div>
  </card-content>
</app-card-layout>
