@use 'styles/utilities/reset.scss';
@use 'styles/utilities/typography.scss';
@use 'styles/utilities/colors.scss';


body {
  font-family: typography.$font-primary, sans-serif;
  color: colors.$color-text;
  background-color: colors.$color-background;
}
