@use "styles/utilities/reset.scss";
@use "styles/utilities/typography.scss";
@use "styles/utilities/colors.scss";

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz,wght") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins-Regular") format("woff");

  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inter", "Poppins-Regular", sans-serif;
}

body {
  font-family: typography.$font-primary, sans-serif;
  color: colors.$color-text;
  background-color: colors.$color-background;
}
